// font //
$ff-main: 'Lexend Deca', sans-serif;

// font size//
$fs-main: 4rem;
$fs-sub: 1.9rem;

// font weight//
$fw-400: 400;
// color //
$color-main: hsl(277, 64%, 61%);
$color-sub: hsl(0, 0%, 100%); //0.75, 0.6
$color-hover : hsl(245, 83%, 68%);
$color-bg: hsl(233, 47%, 7%);
$color-bg-card: hsl(244, 38%, 16%);




